# App Configuration
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NUXT_PUBLIC_APP_URL=http://localhost:3000

# Private SMTP config (server-side only)
SMTP_HOST=votre_smtp_host
SMTP_PORT=587
SMTP_USER=votre_email
SMTP_PASS=votre_mot_de_passe
SMTP_TO=email_destinataire   # optionnel, sinon = SMTP_USER