# App Configuration
NUXT_APP_URL=http://localhost:3000

# Private SMTP config (server-side only)
NUXT_SMTP_HOST=votre_smtp_host
NUXT_SMTP_PORT=587
NUXT_SMTP_USER=votre_email
NUXT_SMTP_PASS=votre_mot_de_passe
NUXT_SMTP_TO=email_destinataire

# Stripe
NUXT_STRIPE_SECRET_KEY=sk_test_...
NUXT_STRIPE_WEBHOOK_SECRET=whsec_...
NUXT_STRIPE_PUBLISHABLE_KEY=pk_test_...

# Resend
NUXT_RESEND_API_KEY=re_...
NUXT_RESEND_FROM_EMAIL=contact@lisewebequine.fr
NUXT_RESEND_TO_EMAIL=contact@lisewebequine.fr
NUXT_RESEND_AUDIENCE_ID=...
NUXT_RESEND_CONFIRMATION_TEMPLATE_ID=...
NUXT_RESEND_BUYERS_SEGMENT_ID=...

# Supabase
NUXT_SUPABASE_URL=https://...
NUXT_SUPABASE_KEY=...